<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.LanguageServer.Client" version="15.8.3057" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.LanguageServer.Protocol" version="16.10.1220" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="16.10.56" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.10.56" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="16.10.26" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="StreamJsonRpc" version="1.2.8" targetFramework="net461" />
  <package id="System.Runtime.Analyzers" version="1.0.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.0.1" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>